
  <form class="form" id="AuthnWidgetForm">
    <div class="stack stack--small">
      {{#each fields as |field|}}
        {{renderfield field}}
      {{/each}}
    </div>

    <button
      id="submit"
      type="submit"
      data-registrationactionid="registerUser"
      data-st-tag="registration.registration_attempt"
      class="button button--primary brand-primary-bg"
    >
      Save
    </button>

  </form>
